Introduction
============

This notebook will show you how to use the pyflightdata API to get data about aircraft.
At the moment the API makes use of http://flightradar24.com to get the data. As we grow the API we will add more data sources. All the data is fetched with HTTP calls made using requests API, so you need an internet connection for this to work.

So lets get started!

In [1]:
from pyflightdata import *

Countries and Airports
======================

This part of the API is still a stub - you can only get data about all the countries that have airports (recorded on http://flighradar24.com ) and get a list of airports in that country along with the IATA codes. In future this will be expanded to get more detailed information about each airport and also a way to fetch IATA code for the aiport by name.

In [2]:
countries = get_countries()
print countries[1:5]

['Albania', 'Algeria', 'Angola', 'Antigua And Barbuda']

In [33]:
airports = get_airports('India')
print airports

[(u'Ahmedabad / Ahmedabad Sardar Vallabhbhai Patel International Airport', 'AMD'), (u'Amritsar / Amritsar International Airport', 'ATQ'), (u'Bhubaneswar / Bhubaneswar Biju Patnaik International Airport', 'BBI'), (u'Bangalore / Bangalore Kempegowda International Airport', 'BLR'), (u'Mumbai / Mumbai Chhatrapati Shivaji International Airport', 'BOM'), (u'Kozhikode / Kozhikode Calicut International Airport', 'CCJ'), (u'Kolkata / Kolkata International Airport', 'CCU'), (u'Coimbatore / Coimbatore International Airport', 'CJB'), (u'Cochin / Cochin International Airport', 'COK'), (u'Delhi / Delhi Indira Gandhi International Airport', 'DEL'), (u'Guwahati / Guwahati International Airport', 'GAU'), (u'Goa / Goa International Airport', 'GOI'), (u'Hyderabad / Hyderabad Rajiv Gandhi International Airport', 'HYD'), (u'Indore / Indore Devi Ahilyabai Holkar Airport', 'IDR'), (u'Imphal / Imphal Airport', 'IMF'), (u'Agartala / Agartala Airport', 'IXA'), (u'Siliguri / Siliguri Bagdogra Airport', 'IXB'), (u'Chandigarh / Chandigarh Airport', 'IXC'), (u'Mangalore / Mangalore Airport', 'IXE'), (u'Jammu / Jammu Airport', 'IXJ'), (u'Madurai / Madurai Airport', 'IXM'), (u'Jaipur / Jaipur Airport', 'JAI'), (u'Lucknow / Lucknow Chaudhary Charan Singh Airport', 'LKO'), (u'Chennai / Chennai International Airport', 'MAA'), (u'Nagpur / Nagpur Dr. Babasaheb Ambedkar International Airport', 'NAG'), (u'Pune / Pune Airport', 'PNQ'), (u'Raipur / Raipur Swami Vivekananda Airport', 'RPR'), (u'Thiruvananthapuram / Trivandrum International Airport', 'TRV'), (u'Tiruchirapalli / Tiruchirappalli International Airport', 'TRZ'), (u'Udaipur / Udaipur Maharana Pratap Airport', 'UDR'), (u'Vijayawada / Vijayawada Airport', 'VGA'), (u'Visakhapatnam / Visakhapatnam Airport', 'VTZ')]

In [4]:
airports = get_airports('Switzerland')
print airports

[(u'St. Gallen / St. Gallen Altenrhein Airport', 'ACH'), (u'Bern / Bern Airport', 'BRN'), (u'Geneva / Geneva International Airport', 'GVA'), (u'Lugano / Lugano Airport', 'LUG'), (u'Zurich / Zurich Airport', 'ZRH')]

In [5]:
name, code = airports[0]
print name
print code

St. Gallen / St. Gallen Altenrhein Airport
ACH

Getting aircraft data
=====================

Getting into more serious usage, lets say you took a flight and wanted to know more about the aircraft itself, how can you find out?

This is how you get the technical information about an aircraft - it provides 3 image URL's and some basic technical information. In future we will add ways to get more detailed information about the airframe

In [6]:
data = get_info_by_tail_number('VT-ALQ')
print data

{'ModeS': u'8004DF', 'Type code': u'B77W', 'Registration': u'VT-ALQ', 'images': ['http://img.planespotters.net/photo/424000/thumbnail/PlanespottersNet_424170.jpg', 'http://img.planespotters.net/photo/356000/thumbnail/PlanespottersNet_356812.jpg', 'http://img.planespotters.net/photo/347000/thumbnail/PlanespottersNet_347408.jpg'], 'Airline': u'Air India', 'Type': u'Boeing 777-337ER', 'S/N': u'36315'}



Let's try to make this look better

In [7]:
from IPython.display import Image
for key,value in data.items():
    if key!='images':
        print key + "\t:\t" + value

ModeS	:	8004DF
Type code	:	B77W
Registration	:	VT-ALQ
Airline	:	Air India
Type	:	Boeing 777-337ER
S/N	:	36315

In [30]:
Image(url=data['images'][0])

In [31]:
Image(url=data['images'][1])

In [32]:
Image(url=data['images'][2])

Getting flight history
=====================

You can get the flight history using either the flight number (eg. 9W15 ) or the flight tail number (e.g VT-JBQ).

Flight history by flight number has more records and shows the tail number for each flight, while the history by tail number shows the routes flown by that particular aircraft. This is useful if you want to know were the aircraft came from before your flight.

The history also shows departure (actual and scheduled) and arrival times (scheduled) and also flight status.

Please note that the string data is encoded as 'unicode-escape'

In [11]:
import pandas

hist_by_flt = get_history_by_flight_number('AI101')

In [12]:
df = pandas.DataFrame(hist_by_flt)

In [13]:
df.head(10)

,aircraft,atd,class,data-date,data-flight,data-flight-number,data-lat-from,data-lat-to,data-lon-from,data-lon-to,...,data-name-to,date,from,from_code,id,sta,status,std,to,to_code
0,-,-,"[future, ]",2014-11-18,,AI101,19.08868,28.5665,72.867912,77.103081,...,Delhi Indira Gandhi International Airport,2014-11-18,Mumbai,BOM,NaN,18:15,Scheduled,16:00,Delhi,DEL
1,-,-,"[future, ]",2014-11-17,,AI101,28.5665,40.639751,77.103081,-73.7789,...,New York John F. Kennedy International Airport,2014-11-17,Delhi,DEL,NaN,11:35,Scheduled,20:05,New York,JFK
2,-,-,"[future, ]",2014-11-17,,AI101,19.08868,28.5665,72.867912,77.103081,...,Delhi Indira Gandhi International Airport,2014-11-17,Mumbai,BOM,NaN,18:15,Scheduled,16:00,Delhi,DEL
3,-,-,"[future, ]",2014-11-16,,AI101,28.5665,40.639751,77.103081,-73.7789,...,New York John F. Kennedy International Airport,2014-11-16,Delhi,DEL,NaN,11:35,Scheduled,20:05,New York,JFK
4,-,-,"[future, ]",2014-11-16,,AI101,19.08868,28.5665,72.867912,77.103081,...,Delhi Indira Gandhi International Airport,2014-11-16,Mumbai,BOM,NaN,18:15,Scheduled,16:00,Delhi,DEL
5,-,-,"[future, ]",2014-11-15,,AI101,28.5665,40.639751,77.103081,-73.7789,...,New York John F. Kennedy International Airport,2014-11-15,Delhi,DEL,NaN,11:35,Scheduled,20:05,New York,JFK
6,-,-,"[future, ]",2014-11-15,,AI101,19.08868,28.5665,72.867912,77.103081,...,Delhi Indira Gandhi International Airport,2014-11-15,Mumbai,BOM,NaN,18:15,Scheduled,16:00,Delhi,DEL
7,-,-,"[future, ]",2014-11-14,,AI101,28.5665,40.639751,77.103081,-73.7789,...,New York John F. Kennedy International Airport,2014-11-14,Delhi,DEL,NaN,11:35,Scheduled,20:05,New York,JFK
8,-,-,"[future, ]",2014-11-14,,AI101,19.08868,28.5665,72.867912,77.103081,...,Delhi Indira Gandhi International Airport,2014-11-14,Mumbai,BOM,NaN,18:15,Scheduled,16:00,Delhi,DEL
9,-,-,"[future, ]",2014-11-13,,AI101,28.5665,40.639751,77.103081,-73.7789,...,New York John F. Kennedy International Airport,2014-11-13,Delhi,DEL,NaN,11:35,Scheduled,20:05,New York,JFK

In [14]:
hist_by_flt[0]

{'aircraft': '-',
 'atd': '-',
 'class': ['future', ''],
 'data-date': '2014-11-18',
 'data-flight': '',
 'data-flight-number': 'AI101',
 'data-lat-from': '19.08868',
 'data-lat-to': '28.5665',
 'data-lon-from': '72.867912',
 'data-lon-to': '77.103081',
 'data-name-from': 'Mumbai Chhatrapati Shivaji International Airport',
 'data-name-to': 'Delhi Indira Gandhi International Airport',
 'date': '2014-11-18',
 'from': 'Mumbai',
 'from_code': 'BOM',
 'sta': '18:15',
 'status': 'Scheduled',
 'std': '16:00',
 'to': 'Delhi',
 'to_code': 'DEL'}

In [15]:
df['aircraft']

0     -
1     -
2     -
3     -
4     -
5     -
6     -
7     -
8     -
9     -
10    -
11    -
12    -
13    -
14    -
...
246    B77W (VT-ALP)
247    B77W (VT-ALU)
248    B77W (VT-ALU)
249    B77W (VT-ALN)
250    B77L (VT-ALF)
251    B77W (VT-ALK)
252    B77W (VT-ALK)
253    B77W (VT-ALJ)
254    B77W (VT-ALM)
255                -
256    B77W (VT-ALL)
257    B77W (VT-ALR)
258    B77W (VT-ALR)
259    B77W (VT-ALS)
260    B77W (VT-ALQ)
Name: aircraft, Length: 261, dtype: object

In [16]:
hist_by_tail = get_history_by_tail_number('VT-ALQ')

In [17]:
df1 = pandas.DataFrame(hist_by_tail)
df1.head()

,atd,class,data-date,data-flight,data-flight-number,data-lat-from,data-lat-to,data-lon-from,data-lon-to,data-name-from,...,date,flight,from,from_code,id,sta,status,std,to,to_code
0,20:49,"[, ]",2014-11-09,80110538,,28.5665,41.978142,77.103081,-87.9058,Delhi Indira Gandhi International Airport,...,2014-11-09,AI127,Delhi,DEL,flight-4c663ca,12:30,Landed 12:04,20:30,Chicago,ORD
1,15:27,"[, ]",2014-11-09,80073479,,17.254,28.5665,78.431,77.103081,Hyderabad Rajiv Gandhi International Airport,...,2014-11-09,AI127,Hyderabad,HYD,flight-4c5d307,17:40,Landed 17:03,15:25,Delhi,DEL
2,11:53,"[, ]",2014-11-09,80053077,,28.5665,17.254,77.103081,78.431,Delhi Indira Gandhi International Airport,...,2014-11-09,AI126,Delhi,DEL,flight-4c58355,13:45,Landed 13:37,11:30,Hyderabad,HYD
3,19:35,"[, ]",2014-11-08,79986880,,41.978142,28.5665,-87.9058,77.103081,Chicago O'Hare International Airport,...,2014-11-08,AI126,Chicago,ORD,flight-4c480c0,09:55,Landed 09:22,19:30,Delhi,DEL
4,20:51,"[, ]",2014-11-07,79870289,,28.5665,41.978142,77.103081,-87.9058,Delhi Indira Gandhi International Airport,...,2014-11-07,AI127,Delhi,DEL,flight-4c2b951,12:30,Landed 12:23,20:30,Chicago,ORD

In [18]:
df1['flight']

0     AI127
1     AI127
2     AI126
3     AI126
4     AI127
5     AI127
6     AI126
7     AI126
8     AI127
9     AI127
10    AI126
11    AI102
12    AI101
13    AI127
Name: flight, dtype: object

Getting the list of airlines and their fleets and flight numbers
================================================================

You can also get the list of airlines and the fleet information, as well as all the flight numbers. This can then feed into the other methods to get the details by tail number or by the flight number.

In [19]:
airlines = get_airlines()

You can see airline name and code and also the logo (where available). The key field should be used to get the fleet information and the flight numbers for that airline.

In [46]:
airline = airlines[31]
airline

{'iata': 'AC',
 'icao': 'ACA',
 'image': 'http://www.flightradar24.com/data/images/operators/ACA.gif',
 'key': 'air-canada-aca',
 'name': 'Air Canada'}

In [47]:
Image(url=airline['image'])

In [22]:
fleet = get_fleet('lufthansa-dlh')
fleet[:10]

['D-ABEA',
 'D-ABEB',
 'D-ABEC',
 'D-ABED',
 'D-ABEE',
 'D-ABEF',
 'D-ABEH',
 'D-ABEI',
 'D-ABEK',
 'D-ABEL']

Once you have the fleet information, you can query more data

In [23]:
info = get_info_by_tail_number('JA02AN')

In [49]:
Image(url=info['images'][0])

In [25]:
info

{'Airline': u'All Nippon Airways',
 'ModeS': u'840888',
 'Registration': u'JA02AN',
 'S/N': u'33872',
 'Type': u'Boeing 737-781',
 'Type code': u'B737',
 'images': ['http://img.planespotters.net/photo/449000/thumbnail/PlanespottersNet_449113.jpg',
  'http://img.planespotters.net/photo/404000/thumbnail/PlanespottersNet_404932.jpg',
  'http://img.planespotters.net/photo/389000/thumbnail/PlanespottersNet_389537.jpg']}

In [26]:
get_history_by_tail_number('JA02AN')[:3]

[{'atd': '12:34',
  'class': ['', 'live'],
  'data-date': '2014-11-10',
  'data-flight': '80188453',
  'data-flight-number': '',
  'data-lat-from': '34.85841',
  'data-lat-to': '31.14337',
  'data-lon-from': '136.805405',
  'data-lon-to': '121.805199',
  'data-name-from': 'Nagoya Chubu Centrair International Airport',
  'data-name-to': 'Shanghai Pudong International Airport',
  'date': '2014-11-10',
  'flight': 'NH939',
  'from': 'Nagoya',
  'from_code': 'NGO',
  'id': 'flight-4c79425',
  'sta': '15:20',
  'status': 'Estimated 14:47',
  'std': '12:25',
  'to': 'Shanghai',
  'to_code': 'PVG'},
 {'atd': '06:57',
  'class': ['', ''],
  'data-date': '2014-11-10',
  'data-flight': '80163288',
  'data-flight-number': '',
  'data-lat-from': '22.30888',
  'data-lat-to': '34.85841',
  'data-lon-from': '113.914703',
  'data-lon-to': '136.805405',
  'data-name-from': 'Hong Kong International Airport',
  'data-name-to': 'Nagoya Chubu Centrair International Airport',
  'date': '2014-11-10',
  'flight': 'NH1242',
  'from': 'Hong Kong',
  'from_code': 'HKG',
  'id': 'flight-4c731d8',
  'sta': '10:10',
  'status': 'Landed 10:15',
  'std': '06:35',
  'to': 'Nagoya',
  'to_code': 'NGO'},
 {'atd': '00:42',
  'class': ['', ''],
  'data-date': '2014-11-10',
  'data-flight': '80138868',
  'data-flight-number': '',
  'data-lat-from': '34.85841',
  'data-lat-to': '22.30888',
  'data-lon-from': '136.805405',
  'data-lon-to': '113.914703',
  'data-name-from': 'Nagoya Chubu Centrair International Airport',
  'data-name-to': 'Hong Kong International Airport',
  'date': '2014-11-10',
  'flight': 'NH1241',
  'from': 'Nagoya',
  'from_code': 'NGO',
  'id': 'flight-4c6d274',
  'sta': '05:20',
  'status': 'Landed 04:50',
  'std': '00:30',
  'to': 'Hong Kong',
  'to_code': 'HKG'}]

In [27]:
flights = get_flights(airline['key'])

In [28]:
flights[:10]

['NH1',
 'NH10',
 'NH100',
 'NH1000',
 'NH1005',
 'NH1006',
 'NH1009',
 'NH1010',
 'NH1011',
 'NH1012']

In [29]:
get_history_by_flight_number('NH1')[:3]

[{'aircraft': '-',
  'atd': '-',
  'class': ['future', ''],
  'data-date': '2014-11-18',
  'data-flight': '',
  'data-flight-number': 'NH1',
  'data-lat-from': '38.947441',
  'data-lat-to': '35.764721',
  'data-lon-from': '-77.4599',
  'data-lon-to': '140.386307',
  'data-name-from': 'Washington Dulles International Airport',
  'data-name-to': 'Tokyo Narita International Airport',
  'date': '2014-11-18',
  'from': 'Washington',
  'from_code': 'IAD',
  'sta': '06:25',
  'status': 'Scheduled',
  'std': '16:15',
  'to': 'Tokyo',
  'to_code': 'NRT'},
 {'aircraft': '-',
  'atd': '-',
  'class': ['future', ''],
  'data-date': '2014-11-17',
  'data-flight': '',
  'data-flight-number': 'NH1',
  'data-lat-from': '38.947441',
  'data-lat-to': '35.764721',
  'data-lon-from': '-77.4599',
  'data-lon-to': '140.386307',
  'data-name-from': 'Washington Dulles International Airport',
  'data-name-to': 'Tokyo Narita International Airport',
  'date': '2014-11-17',
  'from': 'Washington',
  'from_code': 'IAD',
  'sta': '06:25',
  'status': 'Scheduled',
  'std': '16:15',
  'to': 'Tokyo',
  'to_code': 'NRT'},
 {'aircraft': '-',
  'atd': '-',
  'class': ['future', ''],
  'data-date': '2014-11-16',
  'data-flight': '',
  'data-flight-number': 'NH1',
  'data-lat-from': '38.947441',
  'data-lat-to': '35.764721',
  'data-lon-from': '-77.4599',
  'data-lon-to': '140.386307',
  'data-name-from': 'Washington Dulles International Airport',
  'data-name-to': 'Tokyo Narita International Airport',
  'date': '2014-11-16',
  'from': 'Washington',
  'from_code': 'IAD',
  'sta': '06:25',
  'status': 'Scheduled',
  'std': '16:15',
  'to': 'Tokyo',
  'to_code': 'NRT'}]